@model DrawModel
@{
    ViewData["Title"] = "Draw";
    ViewData["Description"] = "Win prizes! Enter a valid serial code for one of our products and win prizes!";
}

<div class="text-center">
    <h1 class="display-4">Draw</h1>
    <p>Enter the draw with a valid serial number from one of our products. You can enter twice with any serial number.</p>
    <form asp-action="Draw" method="post">
        <div class="form-group">
            <label asp-for="Person.FirstName"></label>
            <input asp-for="Person.FirstName" class="form-control" />
            <label asp-for="Person.LastName"></label>
            <input asp-for="Person.LastName" class="form-control" />
            <label asp-for="Person.Email"></label>
            <input asp-for="Person.Email" class="form-control" />
            <label asp-for="Serial"></label>
            <input asp-for="Serial" class="form-control" />
            <span asp-validation-for="Serial" class="text-danger"></span>
        </div>
    
        <button type="submit" class="btn btn-success">Submit</button>
    </form>
</div>