@model DrawModel
@{
    ViewData["Title"] = "Draw";
    ViewData["Description"] = "Win prizes! Enter a valid serial code for one of our products and win prizes!";
}

<div class="text-center">
    <h1 class="display-4">Draw</h1>
    <p>Enter the draw with a valid serial number from one of our products. You can enter twice with any serial number.</p>
</div>