@{
    ViewData["Title"] = "Home";
    ViewData["Description"] = "Welcome to Acme Corporation, the place where awesome products and dreams are created!";
}

<div class="text-center">
    <h1 class="display-4">Acme Corporation</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <a class="" asp-area="" asp-controller="Home" asp-action="EnterDraw">Enter draw</a>
</div>