@{
    ViewData["Title"] = "Privacy Policy";
    ViewData["Description"] = "At Acme Corporation, we take your privacy seriously. Learn more about how protect our customers.";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>